<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/background'); %>

<header>
</header>

<main>
  <div class="chat-container login">
    <h1 class="login-header">Welcome to socketChat</h1>
    <div class="login-div g-signin2" data-onsuccess="onSignIn"></div>

    <a class="login-footer" href="#" onclick="signOut();">Sign out</a>
  
  </div>
</main>


<script>
        function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        if(xhr.responseText == 'success'){
            signOut();
            location.assign('/dashboard')
        }
        };
        xhr.send(JSON.stringify({token: id_token}));
        }
</script>

<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>